@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "tailwindcss";

@theme {
	--default-font-family: "Inter", sans-serif;
	--font-secondary: "Pacifico", cursive;
	--font-luckiest-guy: "Luckiest Guy", cursive;
}
